@keyframes slideIn {
      from {
        opacity: 0;
        transform: translateY(40px);
      }
      to {
        opacity: 1;
        transform: translateY(0);
      }
    }

    h1 {
      font-size: 24px;
      margin-bottom: 25px;
      color: #000000;
    }


